.batn_items {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.batn {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 196px;
  height: 56px;
  border-radius: 15px;
  padding-top: 11px;
  padding-left: 12px;
  box-sizing: border-box;
  margin-top: 33px;
  margin-right: 23px;
  margin-left: 33px;
  margin-bottom: 33px;
}

.batn_text {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 12px;
  margin-top: -12px;
}

.batn:hover {
  background: #faebd9;
}

.batn:nth-child(odd):hover {
  background: #d87a54;
}

.img {
  display: inline-block;
  vertical-align: middle;
  width: 27px;
  height: auto;
  object-fit: cover;
  margin-top: -12px;
}

.h4 {
  display: inline-block;
  vertical-align: middle;
  margin-top: 22px;
}

.p {
  display: inline-block;
  vertical-align: middle;
  font-size: 11px;
  margin-top: -22px;
}

.a1 {
  text-decoration: none;
}

.section2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.sec_blok {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0;
}

.sec_blok2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col {
  display: inline-block;
  width: 88%;
  height: 301px;
  margin-top: 50px;
}

.col_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.li {
  display: inline-block;
  background: #e2e1e1;
  width: 80%;
  padding: 12px;
  height: auto;
  margin-top: -10px;
  margin-bottom: 25px;
}

.label1 {
  width: 48px;
  height: 48px;
  position: absolute;
  background: #E97171;
  border-radius: 50%;
  margin-top: -274px;
  margin-left: 174px;
}

.label2 {
  width: 48px;
  height: 48px;
  position: absolute;
  background: #2EC1AC;
  color: #ffffff;
  border-radius: 50%;
  margin-top: -274px;
  margin-left: 174px;
}
