@media (min-width: 576px) {
    /* CSS для: 576px <= ширины <= 767px */
    .col {flex-direction: column;
          flex-wrap: wrap;
        align-items: center;}

    .themeleft {text-align: center;}
    .theme-title {font-size: 12px;}
  }
  
  /* md-устройства (больше или равно 768px) */
  @media (min-width: 768px) {
    /* CSS для: 768px <= ширины <= 991px */
    
  }
  
  /* lg-устройства (больше или равно 992px) */
  @media (min-width: 992px) {
    /* CSS для: 992px <= ширины <= 1119px */
    
  }
 